﻿@model HMS_web.Classes.Bestandsmall
@using HMS_web.Classes
@{
    ViewBag.Title = "Details";
}
<fieldset>
    <legend>Bestandsmall</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Namn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Namn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Skapare)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Skapare)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SkapadDatumText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SkapadDatumText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Noteringar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Noteringar)
    </div>
</fieldset>

<div id="tabs">
  <ul>
      @{
          int nIndex = 0;
          foreach (HMS_web.Classes.MallTradslag tradslag in Model.Tradslag)
          {
              nIndex++;
              @Html.Raw("<li><a href=\"#tabs-" + nIndex + "\">" + tradslag.Namn + "</a></li>\n");
          }
      }
  </ul>
    @{
        nIndex = 0;
        foreach (HMS_web.Classes.MallTradslag tradslag in Model.Tradslag)
        {
            nIndex++;
              @Html.Raw("<div id=\"tabs-" + nIndex + "\">\n");

              @Html.Raw("Volymsfunktion<br>");
              @Html.Raw(tradslag.VolfunktionTyp + " " + tradslag.VolfunktionArea + " " + tradslag.VolfunktionBeskrivning + " " + tradslag.VolfunktionTradslagsnamn + "<br><br>");
        
              @Html.Raw("Höjdfunktion<br>");
              @Html.Raw(tradslag.HojdfunktionTyp + " " + tradslag.HojdfunktionArea + " " + tradslag.HojdfunktionBeskrivning + " " + tradslag.HojdfunktionTradslagsnamn + "<br><br>");
        
              @Html.Raw("Barkfunktion<br>");
              @Html.Raw(tradslag.BarkfunktionTyp + " " + tradslag.BarkfunktionArea + " " + tradslag.BarkfunktionTradslagsnamn + "<br><br>");
       
              @Html.Raw("</div>\n");
        }
    }
</div>

    <script>
        $(function () {
            $("#tabs").tabs({
                spinner: 'Öppnar...',
                cache: false,
                ajaxOptions: { cache: false }
            });
        });
  </script>
  <style>
 .ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}
  </style>
