﻿@model IEnumerable<HMS_web.Classes.Bestandsmall>

@{
    ViewBag.Title = "Index";
}

<h2>Beståndsmallar</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skapare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkapadDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Noteringar)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skapare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkapadDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Noteringar)
        </td>
    </tr>
}

</table>
