﻿@model HMS_web.Models.fst_contacts_table

@{
    ViewBag.Title = "Details";
}

<h2>Detaljer</h2>

<fieldset>
    <legend>fst_contacts_table</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pnr_orgnr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pnr_orgnr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name_of)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name_of)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.company)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.company)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.co_address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.co_address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.post_num)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.post_num)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.post_address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.post_address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.county)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.county)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone_work)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone_work)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone_home)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone_home)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fax_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fax_number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.e_mail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.e_mail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.web_site)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.web_site)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.vat_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.vat_number)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Redigera", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Tillbaka till listan", "Index")
</p>
