﻿@model HMS_web.Models.fst_contacts_table

@{
    ViewBag.Title = "Edit";
}

<h2>Redigera</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>fst_contacts_table</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.pnr_orgnr)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pnr_orgnr)
            @Html.ValidationMessageFor(model => model.pnr_orgnr)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name_of)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name_of)
            @Html.ValidationMessageFor(model => model.name_of)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.company)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.company)
            @Html.ValidationMessageFor(model => model.company)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.co_address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.co_address)
            @Html.ValidationMessageFor(model => model.co_address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.post_num)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.post_num)
            @Html.ValidationMessageFor(model => model.post_num)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.post_address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.post_address)
            @Html.ValidationMessageFor(model => model.post_address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.country)
            @Html.ValidationMessageFor(model => model.country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone_work)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone_work)
            @Html.ValidationMessageFor(model => model.phone_work)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone_home)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone_home)
            @Html.ValidationMessageFor(model => model.phone_home)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fax_number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fax_number)
            @Html.ValidationMessageFor(model => model.fax_number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mobile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mobile)
            @Html.ValidationMessageFor(model => model.mobile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.e_mail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.e_mail)
            @Html.ValidationMessageFor(model => model.e_mail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.web_site)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.web_site)
            @Html.ValidationMessageFor(model => model.web_site)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.notes)
            @Html.ValidationMessageFor(model => model.notes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.vat_number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.vat_number)
            @Html.ValidationMessageFor(model => model.vat_number)
        </div>

        <p>
            <input type="submit" value="Spara" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Tillbaka till listan", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
