﻿@model HMS_web.Models.fst_property_table

@{
    ViewBag.Title = "Skapa";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>fst_property_table</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.prop_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.prop_name)
            @Html.ValidationMessageFor(model => model.prop_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.block_number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.block_number)
            @Html.ValidationMessageFor(model => model.block_number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.unit_number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.unit_number)
            @Html.ValidationMessageFor(model => model.unit_number)
            
        <div class="editor-label">
            @Html.LabelFor(model => model.prop_number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.prop_number)
            @Html.ValidationMessageFor(model => model.prop_number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.county_code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.county_code)
            @Html.ValidationMessageFor(model => model.county_code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.municipal_code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.municipal_code)
            @Html.ValidationMessageFor(model => model.municipal_code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.parish_code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.parish_code)
            @Html.ValidationMessageFor(model => model.parish_code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.county_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.county_name)
            @Html.ValidationMessageFor(model => model.county_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.municipal_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.municipal_name)
            @Html.ValidationMessageFor(model => model.municipal_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.parish_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.parish_name)
            @Html.ValidationMessageFor(model => model.parish_name)
        </div>

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.areal_ha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.areal_ha)
            @Html.ValidationMessageFor(model => model.areal_ha)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
