﻿@model HMS_web.Models.fst_property_table

@{
    ViewBag.Title = "Radera";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>fst_property_table</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.county_code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.county_code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.municipal_code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.municipal_code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.parish_code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.parish_code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.county_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.county_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.municipal_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.municipal_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.parish_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.parish_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.prop_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prop_number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.prop_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prop_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.block_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.block_number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.unit_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unit_number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.areal_ha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.areal_ha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.created_by)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created_by)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
