﻿@model HMS_web.Models.fst_property_table

@{
    ViewBag.Title = "Detaljer";
}

<h2>Detaljer</h2>
TODO: Visa lista med bestånd som hör till fastigheten

<fieldset>
    <legend>fst_property_table</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.county_code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.county_code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.municipal_code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.municipal_code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.parish_code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.parish_code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.county_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.county_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.municipal_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.municipal_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.parish_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.parish_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.prop_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prop_number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.prop_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prop_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.block_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.block_number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.unit_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unit_number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.areal_ha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.areal_ha)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Redigera", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Tillbaka till listan", "Index")
</p>
