﻿@model HMS_web.Classes.PaginatedList<HMS_web.Models.fst_property_table>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Skapa ny", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).prop_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).prop_full_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).areal_ha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prop_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prop_full_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.areal_ha)
        </td>
        <td>
            @Html.ActionLink("Redigera", "Edit", new { id=item.id, page = Model.PageIndex }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.id, page = Model.PageIndex }) |
            @Html.ActionLink("Radera", "Delete", new { id=item.id, page = Model.PageIndex })
        </td>
    </tr>
}

</table>
<div>
    <br />
    <table>
        <tr>
            <td>
                @if (Model.HasPreviousPage) {
                    @Html.ActionLink("<<Första", "Index", new { Page = 0 });
                    @Html.ActionLink("<Föregående", "Index", new { Page = (Model.PageIndex-1) });
                }
                else
                {
                    @Html.Raw("&lt;&lt;Första ")
                    @Html.Raw("&lt;Föregående")
                }
            </td>
            <td>
                <b>@Html.Raw(String.Format("(Sida {0}/{1})", Model.PageIndex+1, Model.TotalPages))</b>
            </td>            
            <td>
                @if (Model.HasNextPage)
                {
                    @Html.ActionLink("Nästa>", "Index", new { Page = (Model.PageIndex + 1) });
                    @Html.ActionLink("Sista>>", "Index", new { Page = (Model.TotalPages - 1) });
                }
                else
                {
                    @Html.Raw("Nästa&gt; ")
                    @Html.Raw("Sista&gt;&gt;")
                }
            </td>
        </tr>
    </table>
</div>
