﻿@{
    ViewBag.Title = "Beräkning";
}

<h2>Beräkning</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <fieldset>
        <legend>Berakning Form</legend>
        <ol>
            <li>
                <label for="file">Inventeringsfil:</label>
                <input type="file" name="file" id="file" />
            </li>
        </ol>
        <input type="submit" value="Beräkna" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
