﻿@{
    ViewBag.Title = "Kuben";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<ol class="round">
    <li>
    @Html.ActionLink("Visa bestånd", "Search", "Bestand")
    @Html.ActionLink("Skapa bestånd", "Create", "Bestand")
    </li>
</ol>

