@model HMS_web.Models.Bestand

<div class="editor-label">
    @Html.LabelFor(model => model.BestandsmallId)
</div>
<div class="editor-field">
    @Html.DropDownListFor(m => m.BestandsmallId, Model.BestandsmallList, "", new { @onchange = "onChangeBestandsmall(this.options[this.selectedIndex].value)", @style = "width: 307px; margin: 1px 0 6px; padding: 2px; border: 1px solid #000000; font-size: 1.2em;" })
    @Html.ValidationMessageFor(model => model.BestandsmallId)
    <br />
    <a class="button" href="#" id="visaBestandsmall">Visa information</a>
    <link href="~/Content/themes/base/dialogBestandsmall.css" rel="stylesheet" type="text/css" />
    <div id="dialogBestandsmall" class="hidden">
    </div>
</div>

<script type="text/javascript">
    var bestandsmallid = 0;
    function onChangeBestandsmall(value) {
        document.getElementById("visaBestandsmall").href = "@Url.Content("~/Bestandsmall/Details/")" + value;
        }
</script>
