﻿@model HMS_web.Models.Bestand

<div class="editor-label">
    @Html.LabelFor(model => model.InventerareIdList)
</div>
<div class="editor-field">
    @Html.ListBoxFor(model => model.InventerareIdList, (IEnumerable<SelectListItem>)Model.InventerareList, new { id = "InventerareList", @style = "width: 307px; margin: 1px 0 6px; border: 1px solid #000000; font-size: 1.2em;" })
    @Html.ValidationMessageFor(model => model.InventerareIdList)
</div>
<a class="button" href="@Url.Content("~/Inventerare/ChooseAjax")" id="inventerareShowLink">Välj inventerare</a>
<a class="button" href="@Url.Content("~/Inventerare/CreateAjax")" id="inventerareAddLink">Lägg till ny inventerare</a>
<a class="inventerareRemove" href="#" id="inventerareRemove">Ta bort vald inventerare</a>

<link href="~/Content/themes/base/ChooseInventerare.css" rel="stylesheet" type="text/css" />
<div id="dialogVisaInventerare" class="hidden">
</div>
<div id="dialogSkapaInventerare" class="hidden">
</div>

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $('.inventerareRemove').click(function () {
        var listBox = document.getElementById('InventerareList');
        var i;
        for (i = listBox.options.length - 1; i >= 0; i--) {
            if (listBox.options[i].selected)
                listBox.remove(i);
        }
        return false;
    });

    function chooseAllInventerare() {
        var listBox = document.getElementById('InventerareList');
        var i;
        for (i = listBox.options.length - 1; i >= 0; i--) {
            listBox.options[i].selected = true;
        }
    }
</script>
