﻿@model HMS_web.Models.Bestand

<div class="editor-label">
    @Html.LabelFor(model => model.FastighetsNamn)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.FastighetsNamn, new { disabled = "disabled", @readonly = "readonly", id = "textFastighetsnamn" } )
    <br />
    <a class="button" href="@Url.Content("~/Fastighet/ChooseAjax")" id="visaFastigheter">Sök/välj fastighet</a>
    <a class="button" href="@Url.Content("~/Fastighet/CreateAjax")" id="skapaFastighet">Skapa ny fastighet</a>
</div>
@Html.HiddenFor(model => model.FastighetsId, new { id = "hiddenFastighetsId" })

<link href="~/Content/themes/base/dialogFastighet.css" rel="stylesheet" type="text/css" />
<div id="dialogVisaFastighet" class="hidden">
</div>
<div id="dialogSkapaFastighet" class="hidden">
</div>
