﻿@model HMS_web.Models.esti_trakt_table

@Html.Label("Provträd")
<table>
    <tr>
        <th>
            @Html.LabelFor(model => model.esti_trakt_sample_trees_table.ElementAt(0).ttree_spc_name)
        </th>
        <th>
            @Html.LabelFor(model => model.esti_trakt_sample_trees_table.ElementAt(0).ttree_dbh)
        </th>
        <th>
            @Html.LabelFor(model => model.esti_trakt_sample_trees_table.ElementAt(0).ttree_hgt)
        </th>
        <th>
            @Html.LabelFor(model => model.esti_trakt_sample_trees_table.ElementAt(0).ttree_age)
        </th>
    </tr>

    @foreach (var item in Model.esti_trakt_sample_trees_table)
    {
        <tr>
            <td>
                @Html.EditorFor(model => item.ttree_spc_name)
            </td>
            <td>
                @Html.EditorFor(model => item.ttree_dbh)
            </td>
            <td>
                @Html.EditorFor(model => item.ttree_hgt)
            </td>
            <td>
                @Html.EditorFor(model => item.ttree_age)
            </td>

            <td><a href="javascript:void(0);" onclick="">Redigera</a> | <a href="javascript:void(0);" onclick="">Radera</a></td>
        </tr>
    }
</table>
