﻿@model HMS_web.Models.Bestand
@using HMS_web.Models
@{
    ViewBag.Title = "Create";
}

<h2>Skapa</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "createForm" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Bestand</legend>

        @if (ViewBag.Error == true)
        {
            @Html.Raw(ViewBag.ErrorMessage)
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.InvFiler)
        </div>
        <div class="editor-field" id="FileUploadContainer">
            @Html.TextBoxFor(model => model.InvFil, new { type = "file", id = "file0" })
            @Html.ValidationMessageFor(model => model.InvFil)
        </div>
        <a href="javascript:void(0);" onclick="AddFileUpload();">Lägg till fil</a>

        <div>
            @Html.Partial("_ChooseBestandsmall")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiarieNr)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiarieNr)
            @Html.ValidationMessageFor(model => model.DiarieNr)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Namn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Namn)
            @Html.ValidationMessageFor(model => model.Namn)
        </div>

        <div>
            @Html.Partial("_ChooseFastighet")
        </div>

        <div>
            @Html.Partial("_ChooseInventerare")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Anteckningar)
        </div>
        <div class="editor-multiline-field">
            @Html.EditorFor(model => model.Anteckningar)
            @Html.ValidationMessageFor(model => model.Anteckningar)
        </div>

        <p>
            <input type="submit" value="Skapa" />
            <input type="button" title="Avbryt" value="Avbryt" onclick="location.href='@Url.Action("Index", "Home")    '" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/dialogBestandsmall.js"></script>
    <script src="~/Scripts/dialogFastighet.js"></script>
    <script src="~/Scripts/file-upload.js"></script>
    <script src="~/Scripts/dialogInventerare.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#createForm").submit(function () {
                chooseAllInventerare();
                return true;
            });
        })
    </script>
}
