﻿@model HMS_web.Models.esti_trakt_table

@{
    ViewBag.Title = "Radera";
}

<h2>Radera</h2>

<h3>Är du säker att du vill radera beståndet?</h3>
<fieldset>
    <legend>esti_trakt_table</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_web_diarienr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_web_diarienr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_web_bestandsnamn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_web_bestandsnamn)
    </div>

   <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_areal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_areal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_si_h100)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_si_h100)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_prop_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_prop_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_notes)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Radera" /> |
        @Html.ActionLink("Tillbaka till lista", "Search")
    </p>
}
