﻿@model HMS_web.Models.esti_trakt_table

@{
    ViewBag.Title = "Detaljer";
}

@if (TempData["Error"] != null)
{
    @Html.Raw("Error: ")
    @Html.Raw(TempData["ErrorMessage"])
    <br />
}

<h2>Detaljer</h2>

<fieldset>
    <legend>esti_trakt_table</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_web_diarienr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_web_diarienr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_web_bestandsnamn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_web_bestandsnamn)
    </div>
            
    <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_areal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_areal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_age)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_age)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_si_h100)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_si_h100)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_prop_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_prop_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trakt_notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trakt_notes)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Rapport stämplingslängd", "Report1", "Bestand", new { id=Model.trakt_id }, new { target="_blank" }) |
    @Html.ActionLink("Rapport stämplingslängd utökad", "Report2", "Bestand", new { id=Model.trakt_id }, new { target="_blank" }) |
    @Html.ActionLink("Rapport provträd", "Report3", "Bestand", new { id=Model.trakt_id }, new { target="_blank" }) 
    <br />
    @Html.ActionLink("Rapport stämplingslängd med provträd", "Report1p", "Bestand", new { id=Model.trakt_id }, new { target="_blank" }) |
    @Html.ActionLink("Rapport stämplingslängd utökad med provträd", "Report2p", "Bestand", new { id=Model.trakt_id }, new { target="_blank" })
    <br />
    @Html.ActionLink("Redigera", "Edit", new { id=Model.trakt_id }) |
    @Html.ActionLink("Radera", "Delete", new { id = Model.trakt_id }) |
    @Html.ActionLink("Tillbaka till lista", "Search")
</p>

<div id="busyIndicator" style="display:none">
    <img id="loading" src="~/images/ajax-loader.gif" alt=""/> 
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('#busyIndicator')
            .hide()  // hide it initially
            .ajaxStart(function () {
                $(this).show();
            })
            .ajaxStop(function () {
                $(this).hide();
            })
        ;

        $(document).ready(function () {
            $('#busyIndicator').hide();
        });
    </script>
}
