﻿@model HMS_web.Models.DiameterKlass
<tr>

@{ Html.RegisterFormContextForValidation(); }
    @using (Html.BeginCollectionItem("stmpl.DiameterKlasser"))
    {
        @Html.HiddenFor(item => item.Yta, new { id = "hiddenYtaId", data_val = "false" })
        <td>
            @Html.DropDownListFor(item => item.TradslagId, new SelectList(Model.Tradslagslista.OrderBy(x => x.nId), "nId", "sNamn", Model.TradslagId), "", new { @style = "width: 107px; margin: 1px 0 6px; padding: 2px; border: 1px solid #000000; font-size: 1.0em;" })
            @Html.ValidationMessageFor(item => item.TradslagId)
        </td>
    
        <td>
            @Html.TextBoxFor(item => item.Klass, new { @style = "width: 107px; font-size: 1.0em;" })
            @Html.ValidationMessageFor(item => item.Klass)
        </td>

        <td>
            @Html.TextBoxFor(item => item.Antal, new { @style = "width: 107px; font-size: 1.0em;" })
            @Html.ValidationMessageFor(item => item.Antal)
        </td>

        <td>
            <a href="javascript:void(0);" onclick="ConfirmRemove(this);">Radera</a>
        </td>
    }
</tr>
