﻿@model HMS_web.Models.BestandStamplingslangdViewModel
@using HMS_web.Models
@{
    ViewBag.Title = "Redigera";
    Html.EnableClientValidation(false);
    Html.EnableUnobtrusiveJavaScript(true);
}

<link href="~/Content/themes/base/BestandEdit.css" rel="stylesheet" type="text/css" />
<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Sparar bestånd...
        </p>
    </div>
</div>

<h2>Redigera</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formBestandStamplingslangd", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>esti_trakt_table</legend>

        @if (ViewBag.Error == true)
        {
            @Html.Raw(ViewBag.ErrorMessage)
        }

        @Html.HiddenFor(model => model.trakt.trakt_id, new { id = "hiddenTraktId", data_val = "false" })
        @Html.HiddenFor(model => model.stmpl.nTraktId, new { id = "hiddenTraktId2", data_val = "false" })

        <div class="editor-label">
            @Html.LabelFor(model => model.trakt.trakt_web_diarienr)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.trakt.trakt_web_diarienr)
            @Html.ValidationMessageFor(model => model.trakt.trakt_web_diarienr)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.trakt.trakt_web_bestandsnamn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.trakt.trakt_web_bestandsnamn)
            @Html.ValidationMessageFor(model => model.trakt.trakt_web_bestandsnamn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.trakt.trakt_areal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.trakt.trakt_areal)
            @Html.ValidationMessageFor(model => model.trakt.trakt_areal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.trakt.trakt_age)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.trakt.trakt_age)
            @Html.ValidationMessageFor(model => model.trakt.trakt_age)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.trakt.trakt_si_h100) (t.ex. T20, G18)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.trakt.trakt_si_h100)
            @Html.ValidationMessageFor(model => model.trakt.trakt_si_h100)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.trakt.trakt_prop_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.trakt.trakt_prop_name)
            @Html.ValidationMessageFor(model => model.trakt.trakt_prop_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.trakt.trakt_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.trakt.trakt_date)
            @Html.ValidationMessageFor(model => model.trakt.trakt_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.trakt.trakt_notes)
        </div>
        <div class="editor-multiline-field">
            @Html.EditorFor(model => model.trakt.trakt_notes)
            @Html.ValidationMessageFor(model => model.trakt.trakt_notes)
        </div>
        
        
        <div class="editor-label">
            @Html.Label("Lägg till inventeringsfil(er)")
        </div>
        <div class="editor-field" id="FileUploadContainer">
            <input data-val="true" id="file0" name="InvFil" type="file" value="" />
        </div>
        <a href="javascript:void(0);" onclick="AddFileUpload();">Lägg till fil</a>

        </fieldset>


        <fieldset>
        <legend>DiameterKlasser</legend>
        <hr />
        <div>
            @Html.Label("Stämplingslängd")
                @foreach (var yta in Model.stmpl.DiameterKlasser.OrderBy(x => x.Yta).Select(x => x.Yta).Distinct())
                {
                    <table id="DiameterklassItems-@yta" class="DiameterklassItems-@yta">
                        <tr><th>@Html.Label("Yta" + yta)</th></tr>
                        <tr>
                            <th>Trädslag</th>
                            <th>Diameterklass</th>
                            <th>Antal</th>
                            <th></th>
                        </tr>
                        
                        <tbody>
                            @foreach (var dkls in Model.stmpl.DiameterKlasser.Where(x => x.Yta == yta))
                            {
                                Html.RenderPartial("DiameterklassItem", dkls);
                            }
                        </tbody>
                    </table>
                    <a class="AddDiameterKlass" href="#" data-pageid="DiameterklassItems-@yta" data-url="@Url.Content("~/Bestand/AddDiameterklassItem/")?traktId=@Model.trakt.trakt_id&ytaId=@yta">Lägg till diameterklass</a>
                }
        </div>
        </fieldset>

        <hr />

    
    
        <fieldset>
        <legend>Provtrad</legend>
        <div>
            @Html.Label("Provträd")
            @foreach (var yta in Model.trakt.esti_trakt_plot_table.OrderBy(x => x.tplot_id).Select(x => x.tplot_id).Distinct())
            {
                <table id="ProvtradItems-@yta" class="ProvtradItems-@yta" style="list-style-type: none">
                    <tr><th>@Html.Label("Yta" + yta)</th></tr>
                    <tr>
                        <th>Trädslag</th>
                        <th>Diameter (mm)</th>
                        <th>Höjd (dm)</th>
                        <th>Grönkronegräns (dm)</th>
                        <th>Ålder</th>
                        <th>Barktjocklek (mm)</th>
                    </tr>
                    <tbody>
                        @foreach (var ptrad in Model.stmpl.Provtrad.Where(x => x.Yta == yta).OrderBy(x => x.Yta))
                        {
                            Html.RenderPartial("ProvtradItem", ptrad);
                        }
                    </tbody>
                </table>
                <a class="AddProvtrad" href="#" data-pageid="ProvtradItems-@yta" data-url="@Url.Content("~/Bestand/AddProvtradItem/")?traktId=@Model.trakt.trakt_id&ytaId=@yta">Lägg till provträd</a>
            }
        </div>
        </fieldset>    
    

        <hr />


        <p>
            <input type="submit" id="submitbtn" value="Spara" />
            <input type="button" title="Avbryt" value="Avbryt" onclick="location.href='@Url.Action("Details", "Bestand", new { id = Model.trakt.trakt_id })    ';return false;" />
        </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/file-upload.js"></script>
    <script src="~/Scripts/dialogConfirmation.js"></script>

    <script type="text/javascript">
        $(function() {
            $('.AddDiameterKlass').click(function (e) {
                e.preventDefault();

                var divUrl = $(this).attr('data-url');
                var divDest = "#" + $(this).attr('data-pageid') + " tbody:last";    /* . = klass, # = id */

                $.get(divUrl, function(data) {
                    $(divDest).append($(data));

                    var currForm = $("#formBestandStamplingslangd");
                    currForm.removeData("validator");
                    currForm.removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse(currForm);
                    currForm.validate();
                });
            });

            $('.AddProvtrad').click(function (e) {
                e.preventDefault();

                var divUrl = $(this).attr('data-url');
                var divDest = "#" + $(this).attr('data-pageid') + " tbody:last";    /* . = klass, # = id */

                $.get(divUrl, function(data) {
                    $(divDest).append($(data));

                    var currForm = $("#formBestandStamplingslangd");
                    currForm.removeData("validator");
                    currForm.removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse(currForm);
                    currForm.validate();
                });
            });
            $.datepicker.setDefaults(
                $.extend(
                    { 'dateFormat': 'yy-mm-dd' },
                    $.datepicker.regional['sv']
                )
            );

            $('#trakt_trakt_date').datepicker();
        });
    </script>
    <script type="text/javascript" 
            src="@Url.Content("~/Scripts/spin.min.js")">
    </script>
    <script type="text/javascript">
        $(function () {
            $("#submitbtn").click(function () {
                $("#loading").fadeIn();
                var opts = {
                    lines: 12, // The number of lines to draw
                    length: 7, // The length of each line
                    width: 4, // The line thickness
                    radius: 10, // The radius of the inner circle
                    color: '#000', // #rgb or #rrggbb
                    speed: 1, // Rounds per second
                    trail: 60, // Afterglow percentage
                    shadow: false, // Whether to render a shadow
                    hwaccel: false // Whether to use hardware acceleration
                };
                var target = document.getElementById('loadingspinner');
                var spinner = new Spinner(opts).spin(target);
            });
        });
    </script>
 }
