﻿@model HMS_web.Models.Provtrad

<tr>

    @{ Html.RegisterFormContextForValidation(); }
    @using (Html.BeginCollectionItem("stmpl.Provtrad"))
    {
        @Html.HiddenFor(item => item.Yta, new { id = "hiddenYtaId", data_val = "false" })

        <td>
            @Html.DropDownListFor(item => item.TradslagId, new SelectList(Model.Tradslagslista.OrderBy(x => x.nId), "nId", "sNamn", Model.TradslagId), "", new { @style = "width: 107px; margin: 1px 0 6px; padding: 2px; border: 1px solid #000000; font-size: 1.0em;" })
            @Html.ValidationMessageFor(item => item.TradslagId)
        </td>
        
        <td>
            @Html.TextBoxFor(item => item.Diameter, new { @style = "width: 107px; font-size: 1.0em;" })
            @Html.ValidationMessageFor(item => item.Diameter)
        </td>

        <td>
            @Html.TextBoxFor(item => item.Hojd, new { @style = "width: 107px; font-size: 1.0em;" })
            @Html.ValidationMessageFor(item => item.Hojd)
        </td>

        <td>
            @Html.TextBoxFor(item => item.Gronkronegrans, new { @style = "width: 107px; font-size: 1.0em;" })
            @Html.ValidationMessageFor(item => item.Gronkronegrans)
        </td>

        <td>
            @Html.TextBoxFor(item => item.Alder, new { @style = "width: 107px; font-size: 1.0em;" })
            @Html.ValidationMessageFor(item => item.Alder)
        </td>
        
        <td>
            @Html.TextBoxFor(item => item.Barktjocklek, new { @style = "width: 107px; font-size: 1.0em;" })
            @Html.ValidationMessageFor(item => item.Barktjocklek)
        </td>
        
        <td>
            <a href="javascript:void(0);" onclick="ConfirmRemove(this);">Radera</a>
        </td>
    }
</tr>
