﻿@model HMS_web.Controllers.PaginatedBestand<HMS_web.Models.esti_trakt_table>

@{
    ViewBag.Title = "Sök";
    //var LinkOrder = 0;
    //var LinkText = "";
}
<h2>Bestånd</h2>

@using (Html.BeginForm())
{
    <div id="slidingDiv" class="toggleDiv" style="display: none;">
        <input type="hidden" id="idPage" name="Page" value=0 />
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).trakt_web_diarienr)
                </th>
                <th>
                    @Html.TextBox("Diarienr", Model.Diarienr as string)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).trakt_web_bestandsnamn)
                </th>
                <th>
                    @Html.TextBox("Namn", Model.Namn as string)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).trakt_prop_name)
                </th>
                <th>
                    @Html.TextBox("Fastighet", Model.Fastighet as string)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).trakt_created_by)
                </th>
                <th>
                    @Html.TextBox("SkapadAv", Model.SkapadAv as string)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).created)
                </th>
                <th>
                    @Html.TextBox("DatumFran", Model.DatumFran as string, new { @class = "searchDate" })
                    @Html.TextBox("DatumTill", Model.DatumTill as string, new { @class = "searchDate" })
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).trakt_date)
                </th>
                <th>
                    @Html.TextBox("DatumInvFran", Model.DatumInvFran as string, new { @class = "searchDate" })
                    @Html.TextBox("DatumInvTill", Model.DatumInvTill as string, new { @class = "searchDate" })
                </th>
            </tr>
        </table>

        <input type="submit" value="Sök" />
        <input type="submit" name="reset" value="Rensa urval" />
    </div>
    <a id="showhide" class="show_hide" href="#" rel="#slidingDiv">Visa sökfunktion</a>
}

<hr />
<div>
    <table class="tableList">
        <tr>
            <th>
                @{
                    if (Model.OrderBy == "trakt_web_diarienr")
                    {
                        if (Model.OrderByDesc == 0)
                        {
                            @Html.ActionLink("▾Diarienr", "Search", new { namn = Model.Namn, orderBy = "trakt_web_diarienr", orderByDesc = 1, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                        }
                        else
                        {
                            @Html.ActionLink("▴Diarienr", "Search", new { namn = Model.Namn, orderBy = "trakt_web_diarienr", orderByDesc = 0, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Diarienr", "Search", new { namn = Model.Namn, orderBy = "trakt_web_diarienr", orderByDesc = 0, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv });
                    }
                }
            </th>
            <th>
                @{
                    if (Model.OrderBy == "trakt_name")
                    {
                        if (Model.OrderByDesc == 0)
                        {
                            //LinkOrder = 1;
                            //LinkText = "▴";
                            @Html.ActionLink("▾Beståndsnamn", "Search", new { namn = Model.Namn, orderBy = "trakt_name", orderByDesc = 1, Page = Model.PageIndex, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                        }
                        else
                        {
                            //LinkOrder = 0;
                            //LinkText = "▾";
                            @Html.ActionLink("▴Beståndsnamn", "Search", new { namn = Model.Namn, orderBy = "trakt_name", orderByDesc = 0, Page = Model.PageIndex, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv });
                        }
                    }
                    else
                    {
                        //LinkOrder = 0;
                        //LinkText = "";
                        @Html.ActionLink("Beståndsnamn", "Search", new { namn = Model.Namn, orderBy = "trakt_name", orderByDesc = 0, Page = Model.PageIndex, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv });
                    }
                    
                    //LinkText = LinkText + Html.DisplayNameFor(x => x.ElementAt(0).trakt_name);
                    //@Html.ActionLink(LinkText, "Search", new { namn = Model.Namn, orderBy = "trakt_name", orderByDesc = LinkOrder, Page = Model.PageIndex, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv });
                }
            </th>
            <th>
                @{
                    if (Model.OrderBy == "trakt_areal")
                    {
                        if (Model.OrderByDesc == 0)
                        {
                            @Html.ActionLink("▾Areal", "Search", new { namn = Model.Namn, orderBy = "trakt_areal", orderByDesc = 1, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                        }
                        else
                        {
                            @Html.ActionLink("▴Areal", "Search", new { namn = Model.Namn, orderBy = "trakt_areal", orderByDesc = 0, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Areal", "Search", new { namn = Model.Namn, orderBy = "trakt_areal", orderByDesc = 0, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv });
                    }
                }
            </th>
            <th>
                @{
                    if (Model.OrderBy == "trakt_prop_name")
                    {
                        if (Model.OrderByDesc == 0)
                        {
                            @Html.ActionLink("▾Fastighet", "Search", new { namn = Model.Namn, orderBy = "trakt_prop_name", orderByDesc = 1, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                        }
                        else
                        {
                            @Html.ActionLink("▴Fastighet", "Search", new { namn = Model.Namn, orderBy = "trakt_prop_name", orderByDesc = 0, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Fastighet", "Search", new { namn = Model.Namn, orderBy = "trakt_prop_name", orderByDesc = 0, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv });
                    }
                }
            </th>
            <th>
                @{
                    if (Model.OrderBy == "trakt_date")
                    {
                        if (Model.OrderByDesc == 0)
                        {
                            @Html.ActionLink("▾Datum inv.", "Search", new { namn = Model.Namn, orderBy = "trakt_date", orderByDesc = 1, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                        }
                        else
                        {
                            @Html.ActionLink("▴Datum inv.", "Search", new { namn = Model.Namn, orderBy = "trakt_date", orderByDesc = 0, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Datum inv.", "Search", new { namn = Model.Namn, orderBy = "trakt_date", orderByDesc = 0, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv });
                    }
                }
            </th>
            <th>
                @{
                    if (Model.OrderBy == "created")
                    {
                        if (Model.OrderByDesc == 0)
                        {
                            @Html.ActionLink("▾Datum skapad", "Search", new { namn = Model.Namn, orderBy = "created", orderByDesc = 1, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                        }
                        else
                        {
                            @Html.ActionLink("▴Datum skapad", "Search", new { namn = Model.Namn, orderBy = "created", orderByDesc = 0, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Datum skapad", "Search", new { namn = Model.Namn, orderBy = "created", orderByDesc = 0, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv });
                    }
                }
            </th>
            <th>
                @{
                    if (Model.OrderBy == "trakt_created_by")
                    {
                        if (Model.OrderByDesc == 0)
                        {
                            @Html.ActionLink("▾Skapad av", "Search", new { namn = Model.Namn, orderBy = "trakt_created_by", orderByDesc = 1, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                        }
                        else
                        {
                            @Html.ActionLink("▴Skapad av", "Search", new { namn = Model.Namn, orderBy = "trakt_created_by", orderByDesc = 0, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Skapad av", "Search", new { namn = Model.Namn, orderBy = "trakt_created_by", orderByDesc = 0, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv });
                    }
                }
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.trakt_web_diarienr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trakt_web_bestandsnamn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trakt_areal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trakt_prop_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trakt_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trakt_created_by)
                </td>
                <td>
                    @Html.ActionLink("Detaljer", "Details", new { id = item.trakt_id })
                </td>
            </tr>
        }
    </table>
    <div>
        <br />
        <table>
            <tr>
                @if (Model.HasPreviousPage)
                {
                    <td style="width: 50px; text-align: center;">
                        @Html.ActionLink("<<Första ", "Search", new { page = 0, namn = Model.Namn, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                    </td>
                    <td style="width: 50px; text-align: center;">
                        @Html.ActionLink("<Föregående", "Search", new { page = (Model.PageIndex - 1), namn = Model.Namn, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                    </td>
                }
                else
                {
                    <td style="width: 50px; text-align: center;">
                        @Html.Raw("&lt;&lt;Första ")
                    </td>
                    <td style="width: 50px; text-align: center;">
                        @Html.Raw("&lt;Föregående")
                    </td>
                }
                <td style="width: 120px; text-align: center;">
                    <b>@Html.Raw(String.Format("(Sida {0}/{1})", Model.TotalPages == 0 ? 0: Model.PageIndex + 1, Model.TotalPages))</b>
                </td>            
                @if (Model.HasNextPage)
                {
                    <td style="width: 50px; text-align: center;">
                        @Html.ActionLink("Nästa> ", "Search", new { page = (Model.PageIndex + 1), namn = Model.Namn, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                    </td>
                    <td style="width: 50px; text-align: center;">
                        @Html.ActionLink("Sista>>", "Search", new { page = (Model.TotalPages - 1), namn = Model.Namn, datumFran = Model.DatumFran, datumTill = Model.DatumTill, fastighet = Model.Fastighet, skapadAv = Model.SkapadAv })
                    </td>
                }
                else
                {
                    <td style="width: 50px; text-align: center;">
                        @Html.Raw("Nästa&gt; ")
                    </td>
                    <td style="width: 50px; text-align: center;">
                        @Html.Raw("Sista&gt;&gt;")
                    </td>
                }
            </tr>
        </table>
    </div>
</div>
@section Scripts{
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script type="text/javascript">
        var hideSearch;
        $(function () {
            $('#showhide').click(function () {
                var toggleClick = $(this);
                if ($('#slidingDiv').is(':hidden') == true) {
                    $('#slidingDiv').show();
                    toggleClick.text('Dölj sökfunktion');
                    hideSearch = false;
                }
                else {
                    $('#slidingDiv').hide();
                    toggleClick.text('Visa sökfunktion');
                    hideSearch = true;
                }
                return false;
            });

            $.datepicker.setDefaults(
             $.extend(
               { 'dateFormat': 'yy-mm-dd' },
               $.datepicker.regional['sv']
             )
           );

            $('#DatumFran').datepicker();
            $('#DatumTill').datepicker();
            $('#DatumInvFran').datepicker();
            $('#DatumInvTill').datepicker();
        });

        $(document).ready(function () {
            if (hideSearch == true) {
                $('#slidingDiv').hide();
                toggleClick.text("Visa sökfunktion");
            }
        });
    </script>
}