﻿@model HMS_web.Models.DiameterKlass

<tr>
    <td></td>
    <td>
        <div class="editor-field">
            @Html.ValidationMessageFor(m => m.TradslagId)
        </div>
    </td>

    <td>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Klass)
            @Html.ValidationMessageFor(m => m.Klass)
        </div>
    </td>

    <td>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Antal)
            @Html.ValidationMessageFor(m => m.Antal)
        </div>
    </td>
</tr>