﻿/*
.ui-dialog.dialogFastighet {
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}
*/
/*.ui-tab-content, .ui-tabs-panel{overflow: auto;}*/

#loading {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 1000;
}

#loadingcontent {
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#loadingspinner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-size: larger;
    padding-top: 80px;
}
