﻿.ui-dialog.ChooseInventerareCSS {
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}

/*.ui-dialog.ChooseInventerareCSS .ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffff00;
	color: #222222;
}*/

/*.ui-dialog.ChooseInventerareCSS .ui-widget-content a {
	color: #222222;
    background: #ffffff;
}*/

.ui-dialog.ChooseInventerareCSS .ui-dialog-titlebar-close {
  display: none;
}
/*
.ui-dialog.ChooseInventerareCSS .ui-dialog-titlebar {
    display: normal;
    color: #222222;
	padding: .4em 1em;
}

.ui-dialog.ChooseInventerareCSS .ui-dialog-content {
    border: 1px solid #aaaaaa;
	background: #cccccc;
    color: #222222;
    padding: .4em;
}

.ui-dialog.ChooseInventerareCSS .ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc;
	color: #222222;
	font-weight: bold;
}
    
.ui-dialog.ChooseInventerareCSS .ui-dialog-buttonpane {
    border: 1px solid #aaaaaa;
    background: #cccccc;
}

.ui-dialog.ChooseInventerareCSS .ui-dialog-buttonset {
    text-align: right;
}

.ui-dialog.ChooseInventerareCSS .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
*/