.ui-dialog.dialogVisaFastighet {
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}

.ui-dialog.dialogSkapaFastighet {
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}
/*
.ui-dialog.dialogFastighet .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog.dialogFastighet .ui-dialog-titlebar {
    display: normal;
    color: #222222;
	padding: .4em 1em;
}

.ui-dialog.dialogFastighet .ui-dialog-content {
    border: 1px solid #aaaaaa;
	background: #cccccc;
    color: #222222;
    padding: .4em;
}

.ui-dialog.dialogFastighet .ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc;
	color: #222222;
	font-weight: bold;
}
  
.ui-dialog.dialogFastighet .ui-dialog-buttonpane {
    border: 1px solid #aaaaaa;
    background: #cccccc;
}

.ui-dialog.dialogFastighet .ui-dialog-buttonset {
    text-align: right;
}

.ui-dialog.dialogFastighet .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
*/