﻿@model HMS_web.Controllers.PaginatedInventerare<HMS_web.Models.web_inventerare>

@{
    ViewBag.Title = "Välj";
}

@using (Html.BeginForm())
{
    <div id="slidingDivInv" class="toggleDiv" style="display: none;">
        <input type="hidden" id="idPage" name="Page" value=0 />
            <table>
                <tr>
                    <th class="searchLabel">
                        @Html.DisplayNameFor(model => model.ElementAt(0).inventerare_efternamn)
                    </th>
                    <th class="searchInput">
                        @Html.TextBox("inventerare_efternamn", Model.EfterNamn as string)
                    </th>
                </tr>
                <tr>
                    <th class="searchLabel">
                        @Html.DisplayNameFor(model => model.ElementAt(0).inventerare_namn)
                    </th>
                    <th class="searchInput">
                        @Html.TextBox("inventerare_namn", Model.Namn as string)
                    </th>
                </tr>
            </table>

        <input type="button" class="submitFilter" data-url="@Url.Content("~/Inventerare/ChooseAjax")" value="Sök"/>
        <input type="button" class="resetFilter" data-url="@Url.Content("~/Inventerare/ChooseAjax")" value="Rensa urval" />
    </div>
    <a id="showhideInv" class="show_hide" href="#" rel="#slidingDivInv">Visa sökfunktion</a>
}

<hr />
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).inventerare_efternamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).inventerare_namn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.inventerare_efternamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inventerare_namn)
        </td>
        <td>
            <a class="choose-trigger" href="#" data-id="@item.inventerare_id" data-surname="@item.inventerare_efternamn" data-name="@item.inventerare_namn">Välj inventerare</a>
        </td>
    </tr>
}

</table>
<div>
    <br />
    <table>
        <tr>
                @if (Model.HasPreviousPage)
                {
                    <td style="width: 50px; text-align: center;">
                        <a class="page-trigger" href="#" data-url="@Url.Content("~/Inventerare/ChooseAjax")" data-pageid="Page=0">&lt;&lt;Första</a>
                    </td>
                    <td style="width: 50px; text-align: center;">
                        <a class="page-trigger" href="#" data-url="@Url.Content("~/Inventerare/ChooseAjax")" data-pageid="Page=@(Model.PageIndex - 1)">&lt;Föregående</a>
                    </td>
                }
                else
                {
                    <td style="width: 50px; text-align: center;">
                        @Html.Raw("&lt;&lt;Första ")
                    </td>
                    <td style="width: 50px; text-align: center;">
                        @Html.Raw("&lt;Föregående")
                    </td>
                }
                <td style="width: 100px; text-align: center;">
                    <b>@Html.Raw(String.Format("(Sida {0}/{1})", Model.PageIndex + 1, Model.TotalPages))</b>
                </td>            

                @if (Model.HasNextPage)
                {
                    <td style="width: 50px; text-align: center;">
                        <a class="page-trigger" href="#" data-url="@Url.Content("~/Inventerare/ChooseAjax")" data-pageid="Page=@(Model.PageIndex + 1)">Nästa&gt;</a>
                    </td>
                    <td style="width: 50px; text-align: center;">
                        <a class="page-trigger" href="#" data-url="@Url.Content("~/Inventerare/ChooseAjax")" data-pageid="Page=@(Model.TotalPages - 1)">Sista&gt;&gt;</a>
                    </td>
                }
                else
                {
                    <td style="width: 50px; text-align: center;">
                        @Html.Raw("Nästa&gt; ")
                    </td>
                    <td style="width: 50px; text-align: center;">
                        @Html.Raw("Sista&gt;&gt;")
                    </td>
                }
        </tr>
    </table>
</div>

<script type="text/javascript">
    var hideSearch;
    $(function () {
        $('#showhideInv').click(function () {
            var toggleClick = $(this);
            if ($('#slidingDivInv').is(':hidden') == true) {
                $('#slidingDivInv').show();
                toggleClick.text('Dölj sökfunktion');
                hideSearch = false;
            }
            else {
                $('#slidingDivInv').hide();
                toggleClick.text('Visa sökfunktion');
                hideSearch = true;
            }
            return false;
        });
    });

    $(document).ready(function () {
        if (hideSearch == true) {
            $('#slidingDivInv').hide();
        }
    });

    $('.page-trigger').click(function () {
        var pageId = $(this).data('pageid');
        var pageUrl = $(this).data('url');
        var efterNamn = $("#inventerare_efternamn").val();
        var namn = $("#inventerare_namn").val();

        $.ajax({
            url: pageUrl,
            data: pageId + "&namn=" + namn + "&efterNamn=" + efterNamn,
            dataType: 'html',
            success: function (html) {
                $('#dialogVisaInventerare').html(html);
            }
        });
    });

    $('.choose-trigger').click(function () {
        var id = $(this).data('id');
        var efterNamn = $(this).data('surname');
        var namn = $(this).data('name');

        /* check that we have not choosen this already */
        var listBox = document.getElementById('InventerareList');
        for (var x = 0; x < listBox.options.length; x++) {
            if (listBox.options[x].value == id) {
                return;
            }
        }

        /* add choosen object */
        $('#InventerareList').append(
            $('<option></option>')
            .val(id)
            .html(efterNamn + ' ' + namn)
            .prop('selected', true)
        );
    });

    $(".submitFilter").click(function () {
        var pageUrl = $(this).data('url');
        var efterNamn = $("#inventerare_efternamn").val();
        var namn = $("#inventerare_namn").val();

        $.ajax({
            type: "POST",
            url: pageUrl,
            data: { "namn": namn, "efterNamn": efterNamn },
            dataType: 'html',
            success: function (html) {
                $('#dialogVisaInventerare').html(html);
            }
        });
    });

    $(".resetFilter").click(function () {
        var pageUrl = $(this).data('url');
        $("#inventerare_efternamn").val("");
        $("#inventerare_namn").val("");

        $.ajax({
            type: "POST",
            url: pageUrl,
            data: "",
            dataType: 'html',
            success: function (html) {
                $('#dialogVisaInventerare').html(html);
            }
        });
    });
</script>
