﻿@model HMS_web.Models.web_inventerare

@using (Html.BeginForm("CreateAjax", "Inventerare", FormMethod.Post, new { id = "createInventerareForm" }))
{
    @Html.Hidden("inventerare_id")

    <div class="editor-label">
        @Html.LabelFor(model => model.inventerare_namn)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.inventerare_namn)
        @Html.ValidationMessageFor(model => model.inventerare_namn)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.inventerare_efternamn)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.inventerare_efternamn)
        @Html.ValidationMessageFor(model => model.inventerare_efternamn)
    </div>
}
