﻿@model HMS_web.Models.web_inventerare

@{
    ViewBag.Title = "Radera";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>web_inventerare</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.inventerare_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.inventerare_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.inventerare_namn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.inventerare_namn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.inventerare_efternamn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.inventerare_efternamn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
