﻿@model HMS_web.Models.web_inventerare

@{
    ViewBag.Title = "Detaljer";
}

<h2>Details</h2>

<fieldset>
    <legend>web_inventerare</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.inventerare_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.inventerare_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.inventerare_namn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.inventerare_namn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.inventerare_efternamn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.inventerare_efternamn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
