﻿@model HMS_web.Models.web_inventerare

@{
    ViewBag.Title = "Editera";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>web_inventerare</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.inventerare_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.inventerare_id)
            @Html.ValidationMessageFor(model => model.inventerare_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.inventerare_namn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.inventerare_namn)
            @Html.ValidationMessageFor(model => model.inventerare_namn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.inventerare_efternamn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.inventerare_efternamn)
            @Html.ValidationMessageFor(model => model.inventerare_efternamn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.created)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.created)
            @Html.ValidationMessageFor(model => model.created)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
